// CONTAINER //

.container {
    .box-1 {
        @include text-config(true);
        height: 100%;

        #learn-more-1 {
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 60%, hsl(51, 100%, 80%) 50%);
        }

        #learn-more-1:hover {
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 60%, hsl(51, 100%, 50%) 50%);
        }

        .picture-1 {
            @include background-config();
            background-image: url(../assets/images/desktop/image-transform.jpg);
        }

    }

    .box-2 {
        @include text-config(true);
        height: 100%;

        #learn-more-2 {
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 60%, hsl(7, 99%, 90%) 50%);
        }

        #learn-more-2:hover {
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 60%, hsl(7, 99%, 70%) 50%);
        }

        .picture-2 {
            @include background-config();
            background-image: url(../assets/images/desktop/image-stand-out.jpg);
        }

    }

    .box-3 {

        @include text-config(false);
        height: 100%;

        .graphic-design {
            @include background-config();
            background-image: url(../assets/images/desktop/image-graphic-design.jpg);
            color: hsl(167, 40%, 24%);
        }

        .photography {
            @include background-config();
            background-image: url(../assets/images/desktop/image-photography.jpg);
            color: hsl(198, 62%, 26%);
        }

    }


}