* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-size: 1.8rem;
  font-family: 'Barlow', sans-serif;
  font-family: 'Fraunces', serif;
}

header {
  background-image: url(../assets/images/desktop/image-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
}

header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 15vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 3rem;
  margin-top: 0;
}

header .logo img {
  height: 4vh;
}

header .navbar-menu {
  text-align: right;
  width: auto;
  font-family: 'Barlow', sans-serif;
}

header .navbar-menu li {
  float: left;
  list-style-type: none;
  margin-right: 1.5rem;
  padding: 1.5rem 2.5rem;
  cursor: pointer;
}

header .navbar-menu li:hover {
  border-radius: 3rem;
  background-color: #6dceff;
  color: white;
}

header .navbar-menu .contact {
  background-color: white;
  color: black;
  font-family: 'Fraunces', serif;
  border-radius: 3rem;
}

header .title {
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 0.8rem;
  line-height: 20rem;
}

.container .box-1 {
  height: 100%;
}

.container .box-1 p {
  font-family: 'Barlow', sans-serif;
  padding: 3rem 0;
}

.container .box-1 .text {
  padding: 18%;
  -ms-flex-line-pack: center;
      align-content: center;
}

.container .box-1 .learn-more {
  font-size: 1.8rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem;
  cursor: pointer;
}

.container .box-1 h2 {
  color: #23303e;
  font-weight: 800;
  font-size: 4rem;
}

.container .box-1 p {
  color: #818498;
}

.container .box-1 #learn-more-1 {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, rgba(255, 255, 255, 0)), color-stop(50%, #fff099));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 60%, #fff099 50%);
}

.container .box-1 #learn-more-1:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, rgba(255, 255, 255, 0)), color-stop(50%, #ffd900));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 60%, #ffd900 50%);
}

.container .box-1 .picture-1 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../assets/images/desktop/image-transform.jpg);
}

.container .box-2 {
  height: 100%;
}

.container .box-2 p {
  font-family: 'Barlow', sans-serif;
  padding: 3rem 0;
}

.container .box-2 .text {
  padding: 18%;
  -ms-flex-line-pack: center;
      align-content: center;
}

.container .box-2 .learn-more {
  font-size: 1.8rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem;
  cursor: pointer;
}

.container .box-2 h2 {
  color: #23303e;
  font-weight: 800;
  font-size: 4rem;
}

.container .box-2 p {
  color: #818498;
}

.container .box-2 #learn-more-2 {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, rgba(255, 255, 255, 0)), color-stop(50%, #ffd2cc));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 60%, #ffd2cc 50%);
}

.container .box-2 #learn-more-2:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, rgba(255, 255, 255, 0)), color-stop(50%, #fe7867));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 60%, #fe7867 50%);
}

.container .box-2 .picture-2 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../assets/images/desktop/image-stand-out.jpg);
}

.container .box-3 {
  height: 100%;
}

.container .box-3 p {
  font-family: 'Barlow', sans-serif;
  padding: 3rem 0;
}

.container .box-3 .text-2 {
  height: 60rem;
  padding: 20%;
  padding-top: 40rem;
  vertical-align: bottom;
}

.container .box-3 h3 {
  font-size: 3rem;
  font-weight: 800;
}

.container .box-3 .graphic-design {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../assets/images/desktop/image-graphic-design.jpg);
  color: #25564b;
}

.container .box-3 .photography {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../assets/images/desktop/image-photography.jpg);
  color: #19536b;
}

.testimonials {
  text-align: center;
  padding: 10%;
}

.testimonials h4 {
  color: #a7abae;
  font-size: 2rem;
  letter-spacing: 0.5rem;
  padding-bottom: 5%;
}

.testimonials .reviews {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 33% 33%;
      grid-template-columns: 33% 33% 33%;
  height: 100%;
}

.testimonials .review-1, .testimonials .review-2, .testimonials .review-3 {
  padding: 2.5%;
}

.testimonials .review-1 img, .testimonials .review-2 img, .testimonials .review-3 img {
  width: 8rem;
  border-radius: 50%;
}

.testimonials .review-1 .review-text, .testimonials .review-2 .review-text, .testimonials .review-3 .review-text {
  font-family: 'Barlow', sans-serif;
  padding-top: 18%;
  padding-bottom: 18%;
  color: #5a636c;
}

.testimonials .review-1 .name, .testimonials .review-2 .name, .testimonials .review-3 .name {
  color: #23303e;
  font-weight: 800;
  padding: 1rem;
}

.testimonials .review-1 .job, .testimonials .review-2 .job, .testimonials .review-3 .job {
  color: #818498;
  font-family: 'Barlow', sans-serif;
  font-size: 1.5rem;
}

.gallery {
  width: 100vw;
  height: 70vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
}

.gallery .img1 {
  background-image: url(../assets/images/desktop/image-gallery-milkbottles.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.gallery .img2 {
  background-image: url(../assets/images/desktop/image-gallery-orange.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.gallery .img3 {
  background-image: url(../assets/images/desktop/image-gallery-cone.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.gallery .img4 {
  background-image: url(../assets/images/desktop/image-gallery-sugarcubes.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

footer {
  color: #458c7e;
  background-color: #90d4c5;
  font-family: 'Barlow', sans-serif;
  padding: 5%;
  text-align: center;
}

footer img {
  -webkit-filter: brightness(0) saturate(100%) invert(48%) sepia(52%) saturate(346%) hue-rotate(118deg) brightness(90%) contrast(89%);
          filter: brightness(0) saturate(100%) invert(48%) sepia(52%) saturate(346%) hue-rotate(118deg) brightness(90%) contrast(89%);
  height: 3rem;
}

footer .bottom-menu {
  padding: 3rem;
  -ms-grid-column-align: center;
      justify-self: center;
}

footer ul {
  display: inline-block;
}

footer li {
  float: left;
  list-style-type: none;
  padding: 0 2rem;
  cursor: pointer;
}

footer li:hover {
  color: white;
}

footer .social {
  padding: 4rem;
}

footer .social img {
  padding: 0 1rem;
  height: 2rem;
  cursor: pointer;
}

footer .social img:hover {
  -webkit-filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(329deg) brightness(103%) contrast(102%);
          filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(329deg) brightness(103%) contrast(102%);
}

footer .attribution {
  font-size: 1.2rem;
}

html {
  font-size: 50%;
}

@media (max-width: 790px) {
  .testimonials {
    display: block;
  }
  .testimonials .reviews {
    display: block;
  }
  .testimonials .reviews .review-1 img,
  .testimonials .reviews .review-2 img,
  .testimonials .reviews .review-3 img {
    width: 8rem;
    border-radius: 50%;
  }
  .testimonials .reviews .review-1 .review-text,
  .testimonials .reviews .review-2 .review-text,
  .testimonials .reviews .review-3 .review-text {
    font-family: 'Barlow', sans-serif;
    padding-top: 18%;
    padding-bottom: 18%;
    color: #5a636c;
  }
  .testimonials .reviews .review-1 .name,
  .testimonials .reviews .review-2 .name,
  .testimonials .reviews .review-3 .name {
    color: #23303e;
    font-weight: 800;
    padding: 1rem;
  }
  .testimonials .reviews .review-1 .job,
  .testimonials .reviews .review-2 .job,
  .testimonials .reviews .review-3 .job {
    color: #818498;
    font-family: 'Barlow', sans-serif;
    font-size: 1.5rem;
  }
  .testimonials .reviews .review-1 .review-text,
  .testimonials .reviews .review-2 .review-text,
  .testimonials .reviews .review-3 .review-text {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .testimonials .reviews .review-1 .job,
  .testimonials .reviews .review-2 .job,
  .testimonials .reviews .review-3 .job {
    padding-bottom: 2.5rem;
  }
  .gallery {
    width: 100vw;
    height: 90vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
}

@media (min-width: 710px) {
  html {
    overflow-x: hidden;
    overflow: overlay;
  }
  html ::-webkit-scrollbar {
    width: 2.2vh;
  }
  html ::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
  }
  html ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.4);
    border: .15em solid #c4c7cc / 1;
    border-radius: 100vw;
  }
  .container .box-1,
  .container .box-2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    height: 100%;
    text-align: left;
  }
  .container .box-3 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    height: 100%;
    text-align: center;
  }
}

@media (max-width: 710px) {
  header {
    /* menu configs */
    /* open menu */
  }
  header .logo img {
    height: 5vh;
  }
  header .title {
    line-height: 10rem;
    padding-top: 5rem;
  }
  header .navbar-menu {
    display: none;
  }
  header .one,
  header .two,
  header .three {
    background-color: white;
    width: 100%;
    height: 0.2rem;
    margin: 0.3rem auto;
  }
  header .menu-toggle {
    width: 3rem;
    height: 4rem;
  }
  header .nav-bar.on {
    position: absolute;
    top: 0;
    left: 0;
    height: 40vh;
    width: 90vw;
    margin: 5%;
    margin-top: 15rem;
    background-color: white;
  }
  header .nav-bar.on .nav-bar-triangle {
    position: absolute;
    right: 0;
    top: -3.5rem;
    border-bottom: 4rem solid white;
    border-left: 4rem solid transparent;
  }
  header .nav-bar.on .navbar-menu {
    display: block;
    color: #818498;
  }
  header .nav-bar.on .navbar-menu .contact {
    background-color: #fad400;
  }
  header .nav-bar.on .navbar-menu .contact:hover {
    background-color: black;
    color: white;
  }
  header .nav-bar.on .navbar-menu li:hover {
    background-color: white;
    color: #818498;
  }
  header .nav-bar.on .navbar-menu ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 15%;
  }
  header .nav-bar.on .navbar-menu li {
    text-align: center;
    display: block;
    float: unset;
    padding-bottom: 2.5rem;
    margin-right: 0;
  }
  .container .box-1,
  .container .box-2,
  .container .box-3 {
    text-align: center;
  }
  .container .box-1 .learn-more,
  .container .box-2 .learn-more,
  .container .box-3 .learn-more {
    width: auto;
    margin-left: 32%;
    margin-right: 32%;
  }
  .container .box-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .container .picture-1 {
    height: 90vh;
  }
  .container .picture-2 {
    height: 90vh;
  }
}

@media (max-width: 540px) {
  header .logo img {
    height: 3.5vh;
  }
  header .title {
    font-size: 3rem;
    line-height: 6rem;
  }
  header .title img {
    padding-top: 10rem;
  }
  .container .picture-1 {
    height: 60vh;
  }
  .container .picture-2 {
    height: 60vh;
  }
  footer li {
    float: unset;
    padding: 1rem;
  }
}
/*# sourceMappingURL=main.css.map */